api==0.0.7
Django==4.1.1
django_ckeditor==6.5.1
django_modeltranslation==0.18.5
django_mptt==0.14.0
django_nested_admin==3.4.0
django_recaptcha==3.0.0
djangorestframework==3.14.0
modeltranslation==0.25
