api==0.0.7
Django==4.1.1
django_ckeditor==6.5.1
django_modeltranslation==0.18.5
django_mptt==0.14.0
django_nested_admin==3.4.0
django_recaptcha==3.0.0
djangorestframework==3.14.0
modeltranslation==0.25



Django==4.1.1
django-ckeditor==6.5.1
django-crispy-forms==1.14.0
django-currencies==0.10.1
django-debug-toolbar==3.6.0
django-dump-load-utf8==0.0.4
django-js-asset==2.0.0
django-modeltranslation==0.18.5
django-mptt==0.13.4
django-nested-admin==3.4.0
django-nested-inline==0.4.5
django-ranged-response==0.2.0
django-simple-captcha==0.5.17
djangorestframework==3.14.0
